@charset "UTF-8";
/*Cores primarias */
/*Cores primarias */
/*Mixins padrões*/
/*Estilização da primeira div*/
/*Header*/
/*Menu*/
/*Mobile*/
/* line 5, ../projetoHoupa/sass/scss/style.scss */
* {
  padding: 0;
  margin: 0;
}

/* Primeira div*/
/* line 11, ../projetoHoupa/sass/scss/style.scss */
.cabecalho {
  font-family: 'Poppins', sans-serif;
  font-size: 0.65em;
  color: #fff;
  background-color: #000;
  width: 100%;
  height: 33px;
  overflow-y: hidden;
}

@media (max-width: 764px) {
  /* line 11, ../projetoHoupa/sass/scss/style.scss */
  .cabecalho {
    height: 70px;
  }
}

/* line 23, ../projetoHoupa/sass/scss/style.scss */
.container-cabecalho {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* line 28, ../projetoHoupa/sass/scss/style.scss */
.cabecalho-itens {
  padding: 10px;
  padding-left: 50px;
}

/*Header*/
/* line 35, ../projetoHoupa/sass/scss/style.scss */
.logo {
  width: 150;
  height: 57px;
}

/* line 39, ../projetoHoupa/sass/scss/style.scss */
.container-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px;
}

@media (max-width: 862px) {
  /* line 39, ../projetoHoupa/sass/scss/style.scss */
  .container-header {
    flex-direction: column;
    margin: 5px;
    align-items: center;
  }
}

/* line 50, ../projetoHoupa/sass/scss/style.scss */
.header-itens {
  font-family: 'Poppins', 'Light';
  font-size: 0.9em;
  color: #5D5D5D;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 862px) {
  /* line 50, ../projetoHoupa/sass/scss/style.scss */
  .header-itens {
    justify-content: center;
  }
}

/* line 57, ../projetoHoupa/sass/scss/style.scss */
.header-itens p {
  padding: 15px;
}

/* line 60, ../projetoHoupa/sass/scss/style.scss */
.header-itens p img {
  padding-left: 15px;
}

/* line 63, ../projetoHoupa/sass/scss/style.scss */
.header-icons, .icons {
  width: 25px;
  height: 27px;
  padding-top: 15px !important;
}

/* line 68, ../projetoHoupa/sass/scss/style.scss */
.header-icons-search {
  width: 25px;
}

/* line 71, ../projetoHoupa/sass/scss/style.scss */
.grupo-icones {
  margin-left: 20px;
}

/* line 74, ../projetoHoupa/sass/scss/style.scss */
.input-container {
  position: relative;
}

/* line 78, ../projetoHoupa/sass/scss/style.scss */
input {
  border: 0;
  border-bottom: 2px solid #000;
  outline: none;
  transition: .2s ease-in-out;
  box-sizing: border-box;
}

/* line 87, ../projetoHoupa/sass/scss/style.scss */
label {
  top: 0;
  left: 0;
  right: 0;
  color: #000;
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 1rem;
  cursor: text;
  transition: .2s ease-in-out;
  box-sizing: border-box;
}

/* line 100, ../projetoHoupa/sass/scss/style.scss */
input,
label {
  width: 185px;
  height: 3rem;
  font-size: 0.8em;
}

/* line 106, ../projetoHoupa/sass/scss/style.scss */
input:valid,
input:focus {
  border-bottom: 2px solid #000;
}

/* line 111, ../projetoHoupa/sass/scss/style.scss */
input:valid + label,
input:focus + label {
  color: #000;
  font-size: .8rem;
  top: -30px;
  pointer-events: none;
}

/* line 118, ../projetoHoupa/sass/scss/style.scss */
.container-menu-mobile {
  width: 100%;
  height: 40px;
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
}

/* line 124, ../projetoHoupa/sass/scss/style.scss */
.menu-mobile {
  text-decoration: none;
  color: #fff;
  font-family: 'Poppins';
  padding-left: 10px;
  padding-top: 10px;
}

/* line 132, ../projetoHoupa/sass/scss/style.scss */
.img-menu-mobile {
  padding-left: 10px;
}

/* line 135, ../projetoHoupa/sass/scss/style.scss */
.img-menu-mobile:hover {
  cursor: pointer;
}

/* line 138, ../projetoHoupa/sass/scss/style.scss */
.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Poppins', 'Light';
  text-transform: uppercase;
  font-size: 1em;
  color: #5D5D5D;
  justify-content: space-around;
}

@media (max-width: 862px) {
  /* line 138, ../projetoHoupa/sass/scss/style.scss */
  .menu-nav ul {
    flex-direction: column;
    align-items: center;
  }
}

/* line 148, ../projetoHoupa/sass/scss/style.scss */
ul li {
  list-style: none;
  text-decoration: none;
}

/* line 153, ../projetoHoupa/sass/scss/style.scss */
.menu-nav ul .destaque {
  color: #7F1CEF;
}

/* Linha fina */
/* line 157, ../projetoHoupa/sass/scss/style.scss */
.linha-fina {
  margin-top: 10px;
  width: 99%;
  height: 0.001cm;
}

/* line 161, ../projetoHoupa/sass/scss/style.scss */
.filtros-itens {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* line 165, ../projetoHoupa/sass/scss/style.scss */
.filtros-itens p {
  padding-top: 10px;
}

/* line 168, ../projetoHoupa/sass/scss/style.scss */
.filtros {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Poppins', 'Light';
  font-size: 0.9em;
  color: #5D5D5D;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

/*Filtros */
/* line 177, ../projetoHoupa/sass/scss/style.scss */
.filtros nav ul {
  display: flex;
}

/* line 180, ../projetoHoupa/sass/scss/style.scss */
nav {
  padding: 5px;
}

/* line 183, ../projetoHoupa/sass/scss/style.scss */
ul {
  list-style-type: none;
}

/* line 186, ../projetoHoupa/sass/scss/style.scss */
ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1em;
  padding-left: 5px;
  font-family: 'Poppins';
  color: #5D5D5D;
}

/* line 195, ../projetoHoupa/sass/scss/style.scss */
ul li a i {
  padding-right: 4px;
  font-size: 30px;
  font-weight: 200;
  -webkit-text-stroke: 4px white;
}

/*Titulo */
/* line 202, ../projetoHoupa/sass/scss/style.scss */
.container-titulo {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Poppins', 'Light';
  text-transform: uppercase;
  font-size: 1em;
  color: #5D5D5D;
  justify-content: center;
  border-top: 1px solid #5D5D5D;
}

/* line 209, ../projetoHoupa/sass/scss/style.scss */
.container-titulo p {
  margin: 20px;
}

/*Banner*/
/* line 214, ../projetoHoupa/sass/scss/style.scss */
.img-banner {
  width: 100%;
}

/* section - photos */
/* line 219, ../projetoHoupa/sass/scss/style.scss */
.photos {
  margin-top: 40px;
}

/* line 222, ../projetoHoupa/sass/scss/style.scss */
.bg-fundos-bela_vita {
  margin: 5px;
  width: 580px;
  height: 480px;
  background-image: url("../../assets/bella_vita.png");
  background-size: cover;
}

/* line 230, ../projetoHoupa/sass/scss/style.scss */
.bg-fundos-pianeta {
  margin: 5px;
  width: 580px;
  height: 480px;
  background-image: url("../../assets/pianeta.png");
  background-size: cover;
}

/* line 237, ../projetoHoupa/sass/scss/style.scss */
.bg-fundos-bonequim {
  margin: 5px;
  width: 580px;
  height: 480px;
  background-image: url("../../assets/bonequim.png");
  background-size: cover;
}

/* line 244, ../projetoHoupa/sass/scss/style.scss */
.bg-fundos-miss {
  margin: 5px;
  width: 580px;
  height: 480px;
  background-image: url("../../assets/miss.png");
  background-size: cover;
}

/* line 251, ../projetoHoupa/sass/scss/style.scss */
.bg-fundos-elisha {
  margin: 5px;
  width: 580px;
  height: 480px;
  background-image: url("../../assets/elisha.png");
  background-size: cover;
}

/* line 258, ../projetoHoupa/sass/scss/style.scss */
.bg-fundos-contagie {
  margin: 5px;
  width: 580px;
  height: 480px;
  background-image: url("../../assets/contagie.png");
  background-size: cover;
}

/* line 265, ../projetoHoupa/sass/scss/style.scss */
.items {
  color: #5D5D5D;
  font-size: 0.875rem;
  font-family: 'Poppins';
}

/* line 270, ../projetoHoupa/sass/scss/style.scss */
.container-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* line 274, ../projetoHoupa/sass/scss/style.scss */
.conteudo {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 30px;
}

/* line 281, ../projetoHoupa/sass/scss/style.scss */
.conteudo-pagamento {
  display: flex;
  justify-content: flex-end;
  margin-left: 80px;
}

/* line 286, ../projetoHoupa/sass/scss/style.scss */
.items-pagamento {
  font-size: 0.5em;
  font-family: 'Poppins';
}

/* line 290, ../projetoHoupa/sass/scss/style.scss */
.icon-pagamento {
  margin-left: 25px;
  margin-right: 30px;
  margin-top: 20px;
  border: 1px solid #5D5D5D;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* line 298, ../projetoHoupa/sass/scss/style.scss */
.icon-pagamento img {
  width: 25px;
}

/* line 301, ../projetoHoupa/sass/scss/style.scss */
.items-pagamento img {
  padding: 5px;
}

/* line 304, ../projetoHoupa/sass/scss/style.scss */
.items-pagamento p {
  display: flex;
  justify-content: center;
}

/* line 308, ../projetoHoupa/sass/scss/style.scss */
.titulo-destaque {
  font-family: 'Poppins';
  font-size: 1.563rem;
  color: #000;
}

/* line 313, ../projetoHoupa/sass/scss/style.scss */
.container-photos img {
  padding: 5px;
}

/* line 316, ../projetoHoupa/sass/scss/style.scss */
.conteudo-descricao {
  display: flex;
  justify-content: center;
}

/* line 320, ../projetoHoupa/sass/scss/style.scss */
.conteudo-descricao h4 {
  text-transform: uppercase;
  font-weight: none;
  color: #000;
  font-family: 'Poppins';
  margin-left: 200px;
  margin-top: 50px;
}

/* line 328, ../projetoHoupa/sass/scss/style.scss */
.alinhamento-destaque {
  margin-left: 200px;
}

/* line 331, ../projetoHoupa/sass/scss/style.scss */
.itens p {
  margin-left: 200px;
  font-size: 1em;
  font-family: 'Poppins';
}

/* line 336, ../projetoHoupa/sass/scss/style.scss */
.conteudo-btn {
  display: flex;
  justify-content: space-around;
}

/* line 340, ../projetoHoupa/sass/scss/style.scss */
.btn-color {
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  font-family: 'Poppins';
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 70px;
  margin-left: 180px;
}

/*Footer*/
/* line 352, ../projetoHoupa/sass/scss/style.scss */
footer {
  margin-top: 30px;
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 300px;
}

@media (max-width: 764px) {
  /* line 352, ../projetoHoupa/sass/scss/style.scss */
  footer {
    height: 550px;
  }
  /* line 360, ../projetoHoupa/sass/scss/style.scss */
  footer .logos-lojas {
    width: 80px;
  }
}

/* line 365, ../projetoHoupa/sass/scss/style.scss */
.logos-lojas {
  width: 130px;
}

/* line 368, ../projetoHoupa/sass/scss/style.scss */
.container-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 50px;
}

/* line 376, ../projetoHoupa/sass/scss/style.scss */
.container-footer .titulos {
  color: #fff;
  font-family: 'Poppins';
  font-size: 1em;
  text-transform: uppercase;
  justify-content: center;
  font-weight: none;
  margin-top: 20px;
}

/* line 385, ../projetoHoupa/sass/scss/style.scss */
.container-footer p {
  max-width: 300px;
  display: block;
  font-size: 0.7em;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-weight: none;
}

/* line 394, ../projetoHoupa/sass/scss/style.scss */
.container-sub {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.75em;
  font-family: 'Poppins', sans-serif;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-bottom: 20px;
}

/* line 404, ../projetoHoupa/sass/scss/style.scss */
.sub-footer img {
  padding-left: 50px;
}

/* line 408, ../projetoHoupa/sass/scss/style.scss */
.redes-sociais a {
  padding: 5px;
}

/* line 411, ../projetoHoupa/sass/scss/style.scss */
.redes-sociais img {
  width: 27px;
}

/* Mobile */
@media (min-width: 862px) {
  /* line 418, ../projetoHoupa/sass/scss/style.scss */
  .container-menu-mobile {
    display: none;
  }
}

@media (max-width: 862px) {
  /* line 424, ../projetoHoupa/sass/scss/style.scss */
  .menu-nav {
    display: none;
  }
}

@media (min-width: 863px) {
  /* line 430, ../projetoHoupa/sass/scss/style.scss */
  .menu-nav {
    visibility: visible;
  }
}

@media (min-width: 1363px) {
  /* line 435, ../projetoHoupa/sass/scss/style.scss */
  .menu-nav {
    visibility: visible;
  }
}

/*# sourceMappingURL=style.css.map */